@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    overflow: hidden;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul li {
    color: #333333;
    font-size: 3em;
    font-weight: bold;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 0 20px;
    border-radius: 10px;
}

ul:hover li {
    color: transparent;
    -webkit-text-stroke: 1px #000000;
}

ul li:hover {
    color: #333;
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.075);
}

ul li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: #F00000;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    color: rgba(0, 0, 0, 0.05);
    font-size: 18vw;
    -webkit-text-stroke: 0px #000000;
    letter-spacing: 100px;
}

ul li:hover::before {
    content: attr(data-text);
    opacity: 1;
    letter-spacing: 10px;
}

ul li:nth-child(1)::before {
    background: linear-gradient(#FF9A33 0%, #FF9A33 33%, #FFFFFF 33%,#FFFFFF 66%, #138807 66%, #138807 100%);
}

ul li:nth-child(2)::before {
    background: linear-gradient(#005BBC 0%, #005BBC 50%, #FFD600 50%,#FFD600 100%, #138807 66%, #138807 100%);
}

ul li:nth-child(3)::before {
    background: linear-gradient(#FFFFFF 0%, #FFFFFF 33%, #0039A6 33%,#0039A6 66%, #D52B1E 66%, #D52B1E 100%);
}